p {
    font-size: 14px;
}
.heading_text {
    margin-top: 40px;
}
.heading_textArea {
    margin-top: 30px;
    width: 500px;
}
footer {
    display: flex;
    position: absolute;
    justify-content: space-between;
    bottom: 20px;
    left: 0;
    right: 0;
}
.list {
    display: flex;
}
ul {
    margin: 0;
    padding: 0;
}
.list_sns {
    margin:0;
}
.list_company {
    margin: 0;
}
@media screen and (max-width:900px) { 
    .heading_textArea{
        width: auto;
    }
    footer{
        margin-left: 4%;
    }

}