p {
    font-size: 14px;
}

.heading_text {
    margin-top: 40px;
}
.heading_textArea {
    margin-top: 30px;
    width: 500px;
}
.list_sns {
    margin: auto;
}
.list_company {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:900px) { 
    .heading_textArea{
        width: auto;
    }
    footer{
        margin-left: 4%;
    }

}