@charset "utf-8";

html {
    /* フォントサイズを１００％に設定しておくことでユーザがブラウザで指定したフォントサイズが正しく反映される */
    font-size: 100%;
    max-width: 100%;
    width: 100%;
    margin: 0;
}
body {
    max-width: 100%;
    margin: 0;
    background-color: white;
    
}
img {
    /* 画像が画面の横幅からはみ出るのを防ぐためにmaxサイズを設定 */
    max-width: 100%;
}
h1 {
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
    cursor: pointer;
}
p {
    margin: 0;
}
li {
    list-style: none;
}

/* 写真など、要素が大きくなり過ぎないようにmax-widthを設定 */
.wrapper {
    width: 95%;
    max-width: 1360px;
    margin: 0 auto;
    
}
#index_nav {
    position: fixed;
    z-index: -1;
    opacity: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.3s;
}
#index_nav.panelactive{
	opacity: 1;
	z-index:999;
}
#index_nav ul {
    display: none;/*はじめは非表示*/
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top:0%;
    left:0%;
    /* transform: translate(-50%,-50%); */
}
#index_nav.panelactive ul {
    display: block;
}
#index_nav li{
	list-style: none;
    text-align: left; 
}

#index_nav li a{
	color: white;
	text-decoration: none;
	padding:10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
    font-size: 12px;
}


/* header start*/
.header {
    position: fixed;
    display: flex;
    height: 80px;
    width: 95%;
    max-width: 1360px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
}
.header_logo {
    
    z-index: 99;
    padding-top: 15px;
    cursor: pointer;
}
.header_logo img {
    width: 200px;
}
/* ハンバーガーメニュー */
.header_menu {
    width: 30px;
    height: 20px;
    padding-top: 15px;
    z-index: 99; 
    transition: all 0.6s;
}
table td {
    cursor: pointer;
    padding: 15px;
    padding-top: 8px;
    padding-bottom: 0;
    vertical-align: top;
}
.header_menu-textMenu {
    color: white;
    font-size: 1px;
    margin: 0;
}
.header_menu-textMenu p{
    font-family: 'Montserrat';
    margin-bottom: 3px;
}
.header_menu-hamburgerMenu {
    cursor: pointer;
    height: 20px;
}
.header_menu-hamburgerMenu label {
    position: relative;
}
/* ハンバーガーメニューの三本線を作成 */
.header_menu-hamburgerMenu span,span::before {
    height: 2px;
    width: 25px;
    background-color: black;
    content: "";
    position: absolute;
    cursor: pointer;
}
.header_menu-hamburgerMenu span::before {
    cursor: pointer;
    top: 7px;
}
.header_menu-hamburgerMenu span::after {
    cursor: pointer;
    top: 14px;
}
.header_backgroundBrack {
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 100%;
    height: 80px;
}

/* header end*/
.annotation {
    padding-top: 100px;
    padding-bottom: 30px;
}
body {
    display: flex;
    flex-flow: column;
    min-height: 100%
}
main {
    flex: 1;
}
.note {
    margin-top: 90px;
    text-align: center;
    margin-bottom: 90px;
}
/* footer start*/

.list ul{
    display: flex;
    padding: 0;
}
.list_sns {
    display: flex;
    text-align: center;
}
.list li {
    margin-right: 10px
}
.list_company {
    margin-left: auto;
    font-size: 10px;
}
@media screen and (max-width:900px) { 
    .list_company {
        
        flex-direction: column;
    }
    .list ul{
        display: block;
        padding: 0;
    }

}
/* footer end*