#imageList {
    margin-top: 100px;
}
#imageList .container {
    display: grid;
    width: 100%;
    gap: 30px 20px;

}
.item1,.item2,.item3,.item4,.item5,.item6,.item7,.item8{
    font-size: 12px;
}
.item4 {
    grid-row: 1;
    grid-column: 4;
}
@media screen and (max-width: 900px) {

    #imageList .container {
        display: grid;
        height: auto;
        gap: 67px 10px;
        grid-template-areas: 
        "areaA areaB"
        "areaC areaD"
        "areaE areaF"
        "areaG areaH";
    
    }

    .item1 {
        grid-area: areaA;
    }
    .item2 {
        grid-area: areaB;
    }
    .item3 {
        grid-area: areaC;
    }
    .item4 {
        grid-area: areaD;
    }
    .item5 {
        grid-area: areaE;
    }
    .item6 {
        grid-area: areaF;
    }
    .item7 {
        grid-area: areaG;
    }
    .item8 {
        grid-area: areaH;
    }


}


