

#imageList img {
    margin-top: 50%;
    
}
#imageList .container {
    display: grid;
    width: 100%;
    height: 850px;
    gap: 0px 20px;

}
.item1,.item2,.item3,.item4,.item5,.item6,.item7,.item8{
    
}
.item4 {
    grid-row: 1;
    grid-column: 4;
}
@media screen and (max-width: 960px) {

    #imageList .container {
        display: grid;
        height: auto;
        gap: 67px 10px;
        grid-template-areas: 
        "areaA areaB"
        "areaC areaD"
        "areaE areaF"
        "areaG areaH";
    
    }

    .item1 {
        grid-area: areaA;
    }
    .item2 {
        grid-area: areaB;
    }
    .item3 {
        grid-area: areaC;
    }
    .item4 {
        grid-area: areaD;
    }
    .item5 {
        grid-area: areaE;
    }
    .item6 {
        grid-area: areaF;
    }
    .item7 {
        grid-area: areaG;
    }
    .item8 {
        grid-area: areaH;
    }


}






.note {
    text-align: center;
}







footer {
    margin-top: 100px;
}
.list ul {
    display: flex;
    position: relative;
}
.list li {
    margin: 0 10px;
}
.company p {
    position: absolute;
    right: 30px;
    font-size: 10px;
}