/* 画像とテキストを横並び */
.heading {
    display: flex;
}
.heading p {
    font-size: 14px;
}
.heading img {
    width: 400px;
    height: 400px;
}
.text {
    margin-bottom: 3em;
    width: 500px;
}
.heading_text {
    width: 35%;
    margin-left: 7%;
}
table td {
    /* 自動生成されるpaddingを0に設定 */
    padding: 0;
}
.heading_tableText {
    padding-left: 20px;
}
@media screen and (max-width:900px) { 
    /* スマホ画面では縦並びに変更 */
    .heading {
        display: contents;  
    }
    .heading img {
        width: auto;
        height: auto;
    }
    .heading_text{
        width: 100%;
        margin-left: 0;
    }
    .text {
        width: 100%;
    }
}